//Colors
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #838383;
$imgs-background: #E0E0E0;

//Fonts
$main-font: 'Railway', sans-serif;
$brand-font: 'Inconsolata', monospace;
$quote-font: 'Cormorant Garamond', serif;