@import 'library';

.action-btn {
    margin-top: 3em;
    a{
        @include btn(1.4rem);
        padding: .8em 2em;
        color: $tertiary-color;
        border: solid .09rem $tertiary-color;
        border-radius: .8rem;
        @include transition(all, 150ms);
    }
    :hover {
        background-color: $tertiary-color;
        color: $primary-color;
        @include transition(all, 150ms);
    }
}