@import 'library';

.balance-container {
    @include flex-center(row);
    position: relative;
    gap: 15em;
}

.explanation-container {
    @include flex-center(column);
    transform: translateY(-5em);
}

.balance-img {
    height: 20em;
    background-color: $imgs-background;

    img {
        height: 100%;
        transform: translate(3em, -3em);
    }
}