@import 'library';

:root{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding-top: 5em;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 18em;
}

@media screen and (max-width: 950px) {    
  main {
    gap: 15em;
  }
} 

@media screen and (max-width: $phone-tablet) {    
  main {
    gap: 10em;
  }
} 
