:root{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding-top: 5em;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 18em;
}