@import 'library';

.learn-more-btn {
    margin-top: 2em;
    a {
        @include btn(1.1rem);
    }

    img {
        transform: translateX(-150%);
        opacity: 0;
        margin-left: .5em;
        height: .8em;
        @include transition(all, 150ms);
    }

    :hover {
        img {
            transform: translateX(0%);
            opacity: 1;
            @include transition(all, 150ms);
        }
    }
}