@import 'library';

nav {
    @include fullscreen;
    z-index: 10;
    position: absolute;
    margin-top: 1em;
}

.hamburguer-btn {
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 10;
    @include absolute-positioning(right, 1em);

    img {
        height: 4em;
    }   
}

.hamburguer {
    @include fullscreen;
    transform: translateX(100%);
    @include transition(transform, 250ms);
}

.nav-active {
    transform: translateX(0%);
    @include transition(transform, 250ms);
}