@import 'library';

.container {
    @include flex-center(row);
    position: relative;
    gap: 15em;
}

.explanation-container {
    @include flex-center(column);
    transform: translateY(-5em);
}

.img-container {
    background-color: $imgs-background;

    img {
        transform: translate(3em, -3em);
    }
}