@import 'library';

.container {
    @include flex-center(row);
    position: relative;
    gap: 15em;
}

.explanation-container {
    @include flex-center(column);
    margin-bottom: 5em;
}

.img-container {
    img {
        height: 25em;
        transform: translate(3em, -3em);
    }
    background-color: $imgs-background;

}


@media screen and (max-width: 900px) {    
    .container {
        gap: 0em;
        .img-container {
            margin-bottom: 5em;
            img {
                height: 25em;
                transform: translate(1em, -1em);
            }
        }
    }
    
} 
@media screen and (max-width: 700px) {    
    .container {
        .img-container {
            img {
                height: 13em;
            }
        }
    }
} 