@import '../library';

.our-story-container {
    @include flex-center(column);
    margin-bottom: 15em;
    gap: 3em;
    .explanation-container {
        transform: translateY(0%);
    }
}

.img-container {
    margin-top: 2em;
    img {
        height: 50em;
    }
}

@media screen and (max-width: 1400px) {    
    .img-container {        
        img {
            height: 30em;
        }
    }
} 

@media screen and (max-width: 900px) {    
    .our-story-container {
        margin-bottom: 0em;
    }  
} 