@import '../library';

.our-vineyards-container {
    @include flex-center(column);
    gap: 2em;
}

.gallery {
    @include flex-center(column);
    background-color: #e0e0e094;
    width: 100%;
    padding: 2em 0em;
    img {
        height: 50em;
    }
}

.gallery-controller {
    @include flex-center(row);
    gap: 2em;
    .imgs {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    
    .active-img {
        opacity: 1;
        @include transition(opacity, 250ms);
    }

    .controllers {
        height: 8em;
        cursor: pointer;
        @include transition(opacity, 150ms);
    }

    .controllers:hover {
        opacity: .6;
        @include transition(opacity, 150ms);
    }
}

.img-position {
    @include flex-center(row);
    width: 100%;
    height: 2em;

    .imgs-line {
        margin: .5em;
        width: 10em;
        height: .2em;
        background-color: $tertiary-color;
        cursor: pointer;
        @include transition(background-color, 250ms);    
    }
    
    .active-img-line {
        background-color: black;
        @include transition(background-color, 250ms);
    }
}

@media screen and (max-width: 900px) {   
    .gallery {
        img {
            height: 30em;
        }
    }

    .gallery-controller {
        .controllers {
           display: none;
        }
    }

    .img-position {
        .imgs-line {
            width: 5em;
        }
    }
} 


@media screen and (max-width: 700px) {   
    .gallery {
        img {
            height: 20em;
        }
    }
} 