@import '../library';

.our-story-container {
    @include flex-center(column);
    margin-bottom: 15em;
    gap: 3em;
    .explanation-container {
        transform: translateY(0%);
    }
}

.img-container {
    margin-top: 2em;
}