@import '../library';

.our-wines-container {
    @include flex-center(row);
    position: relative;
    gap: 15em;
}

.images {
    @include flex-center(row);
    flex-wrap: nowrap;
    img {
        margin: 0 .5em;
        height: 36em;
    }
}

.up-image {
    transform: translateY(2em);
}

.abstract-img {
    position: absolute;
    top: 15em;
    left: 0;
    z-index: -1;
    max-width: 100%;
}

@media screen and (max-width: $phone-tablet) {        
    .images {
        img {
            height: 15em;
        }
    }

    .up-image {
        transform: translateY(0em);
    }
} 

@media screen and (max-width: 1600px) {   
    .our-wines-container {
        @include flex-center(column);
        gap: 0em;
    }
} 