@import '../library';

.our-vineyards-container {
    @include flex-center(column);
    gap: 2em;
}

.gallery {
    @include flex-center(column);
    background-color: #e0e0e094;
    width: 100%;
    padding-block: 2em;
    img {
        height: 50em;
    }
}

.gallery-controller {
    @include flex-center(row);
    gap: 2em;
    .imgs {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    
    .active-img {
        opacity: 1;
        @include transition(opacity, 250ms);
    }

    .controllers {
        height: 8em;
        cursor: pointer;
        @include transition(opacity, 150ms);

    }
    .controllers:hover {
        opacity: .6;
        @include transition(opacity, 150ms);
    }
}

.img-position {
    @include flex-center(row);
    gap: 1em;
    width: 100%;
    height: 2em;

    .imgs-line {
        width: 10em;
        height: .2em;
        background-color: $tertiary-color;
        cursor: pointer;
        @include transition(background-color, 250ms);    
    }
    
    .active-img-line {
        background-color: black;
        @include transition(background-color, 250ms);
    }
}


